%div{:data => {:role => :header}}
  %h1 Events
  = link_to 'Add', new_event_path, "data-icon" => "plus", "class" => "ui-btn-right"

%div{:data => {:role => :content}}
  %ul{:data => {:role => :listview, :theme => :d}}
    - @events.each do |event|
      %li
        = event.date.strftime('%Y-%m-%d')
        .ui-li-aside= event.description
