%div{:data => {:role => :header}}
  %h1 Repeat Activities
  = link_to 'Add', new_repeat_activity_path, "data-icon" => "plus", "class" => "ui-btn-right"

%div{:data => {:role => :content}}
  %ul{:data => {:role => :listview, :theme => :d}}
    - @repeat_activities.each do |repeat_activity|
      %li
        %h3= link_to repeat_activity.name, repeat_activity_path(repeat_activity)
        .ui-li-aside= distance_or_duration(repeat_activity)
        %p= repeat_activity.description
